<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="teaarm">
  <xacro:property name="joint_limits_file" value="${load_yaml('../config/joint_limits.yaml')}"/>
  <xacro:property name="joint_limits" value="${joint_limits_file['joint_limits']}"/>
  <xacro:property name="inertials_file" value="${load_yaml('../config/inertials.yaml')}"/>
  <xacro:property name="inertials" value="${inertials_file['inertials']}"/>
  <xacro:arg name="visual_mesh_ext" default="glb"/>
  <xacro:include filename="teaarm.xacro"/>
  <xacro:teaarm prefix="" visual_mesh_ext="$(arg visual_mesh_ext)"/>
</robot>
